:root {
  --Green: #41C9A9;
  --Blue: #34A7C1;
  --BarkGreen: #31977F;
}

body {
  background-color: #e8e8e8;
}

.main {
  margin-left: 10%;
  margin-top: -20px;
  position: relative;
}

.brand-logo {
  margin-left: 20px;
}

.sideBar {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(var(--Green), var(--Blue));
  padding-top: 40px;
  text-align: center;
}

.nav-wrapper {
  background: linear-gradient(to right, #bababa, #797979);
}
#nav-mobile {
  background-color: var(--Green);
  padding-left: 15px;
  padding-right: 15px;
}

#nav-mobile > li {
  margin-right: 25px;
}

.mainCard {
  margin: 20px 10px 0px 10px;
}

.halfCard {
  margin-left: 100px;
}

h6 {
  color: var(--Green);
  font-weight: 700;
}

div#sideBarIcons {
  margin-top: 130px;
}

div#sideBarIcons a {
  margin-bottom: 25px;
}

div#sideBarIcons a:hover {
  background-color: rgba(0,0,0,.1);
}

.material-icons {
  color: white;
}

.sideBarIcon {
  font-size: 4rem;
}

.sideBar a {
  color: white;
}

.whiteLine {
  height: 2px;
  background-color: #fff;
  margin-top: 90px;
}

input#numOfDays {
  width: 50%;
}

.emailFields {
  margin-bottom: -30px;
}

.notificationsSection {
  margin-bottom: 70px;
}

.emailsSection {
  margin-bottom: 70px;
}

.numField {
  margin-top: -10px;
}

div.col.s12.m6.titleAndSwitch {
  padding: unset;
}

/* SWITCH */
.switch label input[type=checkbox]:checked+.lever {
  background-color: var(--Green);
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #e8e8e8;
}

/* SLIDER */
#wholeSlideIn {
  width: 380px;
  height: 940px;
  background-color: #fff;
  position: absolute;
  border: 1px solid var(--Green);
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  z-index: 1;
}

.newConversation {
  width: 100%;
  height: 64px;
  background-color: var(--Green);
  text-align: center;
}

.plusPound {
  height: 40px;
  width: 100%;
  background-color: #e8e8e8;
}

.messageSpace {
  width: 100%;
  background-color: #fff;
}

.signoff {
  width: 100%;
  height: 130px;
  background-color: var(--Blue);
  position: absolute;
  bottom: 0;
}

div.newConversation p {
  margin-top: -5px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
}

.theArrow {
  position: relative;
  right: 150px;
  top: 20px;
}

.theClose {
  position: relative;
  top: 20px;
  left: 150px;
}

.theAdd {
  color: var(--Green);
  position: relative;
  left: 15px;
  top: 5px;
  font-size: 2rem;
}

#hashTag {
  color: var(--Green);
  position: relative;
  bottom: 55px;
  font-size: 1.5rem;
  text-align: right;
  right: 15px;
  font-weight: 300;
}

div.col.s12.links {
  font-size: smaller;
  padding-left: 50px;
  padding-right: 40px;
}

#conv {

}

#conv a {
  color: white;
}

#files {
  padding-left: 20px;
}

#files a {
  color: white;
}

#logs {
  padding-right: 50px;
}

#logs a {
  color: white;
}

.theSend {
  position: relative;
  left: 340px;
  top: -20px;
  font-size: inherit;
  color: var(--Green);
}

.textbox {
  text-align: center;
  margin-top: -20px;
}

#comment {
  width: 90%;
}
